.heroActions {
  margin: 2rem 0 5rem;
  padding-left: max(env(safe-area-inset-left),1.5rem);
  padding-right: max(env(safe-area-inset-right),1.5rem);
}

.cta {
  display: inline-block;
  text-decoration: none;
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
  margin-top: 0.5rem;
  text-shadow: 0 1px 1px #00387838;
  box-shadow: 0 1px 2px #00295738;
  transition: all 0.2s ease;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cta span {
  display: inline-block;
  transition: all 0.2s ease;
}
.cta:hover span {
  transform: translateX(3px);
}
.cta:hover {
  filter: brightness(1.05);
}
.cta:active {
  box-shadow: 0 1px 3px #00295738;
  filter: brightness(0.95);
}
.cta:active span {
  transform: translateX(5px);
}
.cta:focus-visible {
  outline: 2px solid hsl(var(--nextra-primary-hue) 100% 77%);
  outline-offset: 2px;
}
.cta:focus-visible span {
  transform: translateX(3px);
}

.cta.brand {
  color: white;
  background: linear-gradient(to bottom, #238aff, #0077ff);
}

.cta.brand:hover {
  box-shadow: 0 5px 30px -10px #0078ffab;
}

.cta.alt {
  background: #f6f6f7;
  color: #333;
}

.cta.alt:hover {
  box-shadow: 0 5px 30px -10px #d7d7d9;
}

.cta + .cta {
  margin-left: 1rem;
}
